local.properties

# Ignore Gradle project-specific cache directory
.gradle
gradlew
gradlew.bat

# Ignore Gradle build output directory
build
lib/build/

.idea
.gradle
**/build/
!src/**/build/
local.properties

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache
